<!-- File: partials/header.html -->
<!-- Path: template/partials/header.html -->

<header class="py-5" style="background: linear-gradient(135deg, #007bff, #00aaff);">
    <div class="container text-center">
      <!-- Логотип и заголовок -->
      <div class="d-flex flex-column align-items-center">
        <img src="{{ url_for('static', filename='images/android-chrome-192x192.png') }}" 
             alt="Логотип" style="width:70px; height:70px;" class="mb-3 rounded-circle shadow">
        <h1 class="display-5 text-white fw-bold">Театральная школа</h1>
        <p class="lead text-light">Откройте для себя мир театрального искусства</p>
      </div>
      <!-- Блок авторизации -->
    </div>
  </header>
  
  